name: YAML Validation

on:
  push:
    branches: [main]
    paths:
      - '**.yml'
      - '**.yaml'
  pull_request:
    branches: [main]
    paths:
      - '**.yml'
      - '**.yaml'

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Validate YAML
        uses: ibiqlik/action-yamllint@v3
        with:
          config_file: '.yamllint.yaml'
